.container{
    position: relative;
    width: 10rem;
}
.header{
display:flex;
justify-content: space-between;
background-color: #ededed;
border-radius: .3125rem;
padding: .3125rem;
}
.list{
position: absolute;
top:30;
width: 98%;
z-index: 10;
text-align: left;
background-color: #FFF;
border-radius: 0 0 5px 5px;
max-height: 10rem;
overflow: auto;
}