.containerTable{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0rem;
}
.thColumn{
    font-size: 0.9rem;
}
.tdColumn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.tdColumn span{
    text-align: center;
}
.iconColumn{
    display: flex;
    flex-direction: column;
}
.tdRow{
    box-sizing: content-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.show{
    visibility: visible;
}
.hidden{
display: none;
}
.btnPages{
border:none;
background-color: transparent;
}
.nbPages{
border:1px solid #000;
border-radius: 5px;
background: linear-gradient(
    to top,
    rgb(188, 189, 189, 0.6),
    rgb(254, 254, 254)
);
padding: 4px 10px;
}
.navContainerPage, .employeeSearch{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.infosEmployee{
    position: absolute;
    left:40%;
    width: 20rem;
    padding: 0.5rem;
    background-color: #ededed;
    border:1px solid #000;
    border-radius: 10px;
    line-height: 0.5rem;
    z-index: 3;
}
.closeInfosEmployee{
    position:relative;
    right:-19.5rem;
    top:-1rem;
}
@media screen and (max-width: 767.8px){
    .containerTable{
        font-size: 0.5rem;
    }
    .thColumn{
        font-size: 0.4rem;
    }
    .employeeSearch, .navContainerPage{
        font-size: 0.7rem;
    }
    .infosEmployee{
        width: 10rem;
    }
    .closeInfosEmployee{
        right: -9.5rem;
        top: -0.5rem;
    }
    
}