.containerTable{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0rem;
}
.thColumn{
    font-size: 0.9rem;
}
.tdColumn{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.tdColumn span{
    text-align: center;
}
.iconColumn{
    display: flex;
    flex-direction: column;
}
.tdRow{
    box-sizing: content-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.show{
    visibility: visible;
}
.hidden{
display: none;
}
.btnPages{
border:none;
background-color: transparent;
}
.nbPages{
border:1px solid #000;
border-radius: 5px;
background: linear-gradient(
    to top,
    rgb(188, 189, 189, 0.6),
    rgb(254, 254, 254)
);
padding: 4px 10px;
}
.navContainerPage, .employeeSearch{
    display: flex;
    justify-content: space-between;
    width: 100%;
}