body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.container-createEmployee {
  text-align: center;
  width: 100%;
  }
.header{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 100%;
  background: linear-gradient(to bottom, rgb(50 65 174) 5%, #FFF 10% );
}
.headerImg{
  width: 8%;
  padding: 1rem;
}
.headerTitle{
  width: 17%;
}
label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}
#create-employee{
  width: 100%;
}
.createEmployee{
  display: flex;
  gap:2%;
  justify-content: center;
  width: 100%;
}
.employee-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  font-size: 1rem;
  margin-bottom: 4rem;
}
.employee-menus, .navContainerPage{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.employee-button{
  font-weight: 700;
  font-size: 1rem;
  background: linear-gradient(
    to bottom,
    rgb(66 214 188 / 90%),
    rgb(66 214 188 / 20%)
  );
  color: #3241ae;
  padding: 1rem 2rem;
  margin: 2rem;
  border-radius: 15px;
  border: 2px solid #3241ae;
  box-shadow: 5px 3px 3px #3241ae;
}
fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(66 214 188 / 90%),
    rgb(66 214 188 / 20%)
  );
  border:2px solid #3241ae;
  border-radius: 10px;
}
legend{
  font-weight: 700;
  color: #3241ae;
}
.footerContainer{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: linear-gradient(to bottom, rgb(50 65 174) 10%, #FFF 95% , rgb(50 65 174) 5%);
  margin-top: auto;
  width: 100%;
}
.footerImg{
  width: 3rem;
  margin: 1rem;
}
.footerTitle{
  color: #5a6f08;
  padding-left: .5rem;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0rem;
}
td {
  padding: 8px;
}
input[type="search"]{
  width: 7rem;
}
.clicked{
  background-color: red;
 }
 .show{
   visibility: visible;
 }
 .hidden{
   display: none;
 }
 .btnPages{
   border:none;
   background-color: transparent;
 }
 .nbPages{
   border:1px solid #000;
   border-radius: 5px;
   background: linear-gradient(
     to top,
     rgb(188, 189, 189, 0.6),
     rgb(254, 254, 254)
   );
   padding: 4px 10px;
 }

@media screen and (max-width: 767.8px){
  .createEmployee{
    flex-direction: column;
  }
  fieldset{
    margin: 1rem 5rem;
  }
  .tableReact{
    font-size: 0.4rem;
    width: 100%;
  }
}